<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>upload_process</servlet-name>
        <servlet-class>upload_process</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile_image_upload</servlet-name>
        <servlet-class>profile_image_upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileImageUpload</servlet-name>
        <servlet-class>ProfileImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProcess</servlet-name>
        <servlet-class>EditProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateChannel</servlet-name>
        <servlet-class>CreateChannel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditChannel</servlet-name>
        <servlet-class>EditChannel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountCreate</servlet-name>
        <servlet-class>AccountCreate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload_process</servlet-name>
        <url-pattern>/upload_process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile_image_upload</servlet-name>
        <url-pattern>/profile_image_upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileImageUpload</servlet-name>
        <url-pattern>/ProfileImageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProcess</servlet-name>
        <url-pattern>/EditProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateChannel</servlet-name>
        <url-pattern>/CreateChannel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditChannel</servlet-name>
        <url-pattern>/EditChannel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountCreate</servlet-name>
        <url-pattern>/AccountCreate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
